{% extends 'base.html' %}

{% block content %}
{% include 'nav.html' %}

<div class="container mt-5">

    <div class="row">
        {% for product in products %}
        
        <div class="col-md-4 mb-4">
            <div class="card shadow-sm h-100">

                <div class="card-body">
                    <h5 class="card-title">
                        {{ product.name }}
                    </h5>

                    <p class="card-text text-muted">
                        {{ product.description }}
                    </p>

                    <h6 class="fw-bold">
                        ${{ product.price }}
                    </h6>

        <div class="d-flex gap-3 mt-3">

            <a 
                href="{% url 'product' product.id %}" 
                class="text-primary text-decoration-none fw-semibold"
            >
                View
            </a>

            <a 
                href="{% url 'update_product' product.id %}" 
                class="text-warning text-decoration-none fw-semibold"
            >
                Edit
            </a>

            <a 
                href="{% url 'delete_product' product.id %}" 
                class="text-danger text-decoration-none fw-semibold"
            >
                Delete
            </a>

        </div>
                </div>

            </div>
        </div>

        {% endfor %}
    </div>

</div>
{% endblock %}