<nav class="navbar navbar-expand-lg navbar-dark bg-dark px-4">

    <a class="navbar-brand fw-bold" href="/">
        ShopEase
    </a>

    <button 
        class="navbar-toggler" 
        type="button" 
        data-bs-toggle="collapse" 
        data-bs-target="#navbarNav"
    >
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">

        <ul class="navbar-nav ms-auto align-items-center">

            <li class="nav-item">
                <a class="nav-link" href="/">
                    Home
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/products/">
                    Products
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/create-product/">
                    Add Product
                </a>
            </li>

            {% if user.is_authenticated %}
                <li class="nav-item ms-3">
                    <a class="btn btn-outline-light btn-sm" href="{% url 'logout' %}">
                        Logout
                    </a>
                </li>
            {% else %}

                  
                <li class="nav-item ms-3">
                    <a class="btn btn-outline-light btn-sm" href="{% url 'login' %}">
                        Login
                    </a>
                </li>
            {% endif %}


        </ul>

    </div>

</nav>
